<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DalManagerDb" value="Reco3Xml2Db.DalEf.DalManager,Reco3Xml2Db.DalEf"/>
    <!--<add key="DalManagerJson" value="https://api.spotify.com/v1"/>-->
    <add key="DalManagerJson" value="myMusicPlayer.DalMock.DalManager,myMusicPlayer.DalMock"/>
  </appSettings>
</configuration>